---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Lora, Georgia;
$base-font-size:   19px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$large-font-size:  23px;
$larger-font-size: 33px;


$headline-font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$headline-font-weight: 700;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;

$on-palm:          600px;
$on-laptop:        800px;

@import "mixins";
@import "normalize";
@import "base";
@import "layouts/start";
@import "layouts/game";
@import "components/highlight";
@import "components/main-menu";
@import "components/article";
