<div class="newsletter">
  <h2 class="newsletter-title">Missa inga nyheter, skriv upp dig på vårt nyhetsbrev!</h2>
  <form action="//finalfantasy.us14.list-manage.com/subscribe/post?u=ad8111b53061fabc573c097a0&amp;id=6c7e458719" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  	<input placeholder="E-post" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
  	<input placeholder="Förnamn" type="text" value="" name="FNAME" class="" id="mce-FNAME">

    <button type="submit" name="subscribe" id="mc-embedded-subscribe">Skicka</button>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ad8111b53061fabc573c097a0_6c7e458719" tabindex="-1" value=""></div>
  </form>
</div>
