
.main-menu-container {
  box-sizing: border-box;
  margin:0 auto;
  max-width: $content-width;
  padding:$spacing-unit;
  padding-bottom:0;
  position: relative;
  z-index: $z-main-menu;
  @include media-query($on-laptop) {
    padding:$spacing-unit * 2;
    padding-bottom:0;
  }
}

.main-menu {
  padding:0;
  font-size: $large-font-size;
  border-bottom: solid 1px rgba(255,255,255,.3);

  .main-menu-link {
    @include transition(all .2s ease-in-out);
    padding-bottom: $spacing-unit / 3;
    display: inline-block;
    color:rgba(255,255,255,.8);
    &:hover,
    &.main-menu-link-active {
      color:rgba(255,255,255,1);
      box-shadow: 0 1px 0 rgba(255,255,255,.6);
      text-decoration: none;
    }
  }
  .main-menu-logo {
    @extend .main-menu-link;
    font-weight: bold;
    float: left;
  }
  .main-menu-items {
    text-align: right;
    margin:0;
    padding:0;
  }
  .main-menu-item {
    list-style-type: none;
    display:inline-block;
    margin-left:20px;
  }
}
