.newsletter {
  @extend .content;
  clear:both;
  .newsletter-title {
    font-size:$base-font-size;
  }
  label, input, button {
    float:left;
    display: block;
  }
  input {
    @include transition(all .2s ease-in-out);
    font-size: $base-font-size;
    line-height:1;
    width: 37%;
    background: transparent;
    border: none;
    box-shadow: inset 0 -1px rgba(0,0,0,.2);
    padding: 15px 0;
    margin-right: 30px;
    &:focus {
      outline:none;
      box-shadow: inset 0 -1px rgba(0,0,0,.8);
    }
  }
  button {
    @include transition(all .2s ease-in-out);
    width: 15%;
    float: right;
    background-color: rgba(0,0,0,.05);
    border: 0;
    padding: 15px 0;
    font-size: $base-font-size;
    line-height:1;
    &:hover {
      background-color: rgba(0,0,0,.1);
    }
  }
}
