{% assign collection = site[page.collection] %}

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="game">

    <div class="game-cover" style="background-image:url({{page.cover}});">
      {% include menus/main.html %}

      <div class="game-info">
        <h1 class="game-title">{{page.title}}</h1>
        <p class="game-description">{{page.description}}</p>
      </div>

      {% if page.overlay %}<div class="game-cover-overlay" style="opacity:{{page.overlay}};"></div>{% endif %}
    </div>

    <div class="content">
      {% include menus/game.html collection=collection %}

      <article>
        {{ content }}

        {% include newsletter.html %}
      </article>
    </div>

    {% comment %} {% include footer.html %} {% endcomment %}

  </body>

</html>
